@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Open+Sans:wght@400;600;700&family=Roboto+Mono:wght@400;500&display=swap');
@import "https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css";

@import "tailwindcss";

@theme {
  --font-cairo: 'Cairo', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;

  --animate-progress: progress 1.5s ease-in-out infinite;

  @keyframes progress {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
  }
}
